<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()" class="form-container">

    <div class="form-field">
        <label for="name">
          City Name: 
        </label>
        <input id="name" type="text" required minlength="1" formControlName="name">
    </div>

    <button [disabled]="!checkoutForm.valid" class="common-button form-button" [ngClass]="{'disabled-button': !checkoutForm.valid}" type="submit">Submit</button>

    <button type="reset" class="common-button" (click)="cancel()">Cancel</button>
  
</form>